
<!-- <h1>Nutrition</h1>

<table class="table table-borderless" id="homeTable" >
    <thead>
      <tr class="table-info">
        <th scope="col">Name</th>
        <th scope="col">Intake</th>
        <th scope="col">recommand</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <th scope="row">Fat(g)</th>
        <td>15.9</td>
        <td>21.4</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Protein(g)</th>
        <td>69.4</td>
        <td>71.3</td>
        
      </tr>
      <tr class="table-warning">
        <th scope="row">Carbohydrate(g)</th>
        <td>21</td>
        <td>82</td>
        
      </tr>
      
    </tbody>
  </table>

  <h1>Exercise</h1>

  <table class="table table-borderless" id="homeTable2" >
    <thead>
      <tr class="table-warning">
        <th scope="col">Name</th>
        <th scope="col">Time</th>
        <th scope="col">Recommand</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <th scope="row">Aerobic</th>
        <td>15.9</td>
        <td>21.4</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Anaerobic</th>
        <td>69.4</td>
        <td>71.3</td>
        
      </tr>
      
    </tbody>
  </table>
  <p1 class="font-weight-bolder" ID="p1">Rank score: 79.8</p1>
  <p2 class="font-weight-bolder" ID = "p2">You are 2st among all your friends</p2> -->

  <!-- <div class="thanks-for-keeping-data-alive"style="width: 100%; position: relative; padding-bottom: 56.25%;">
    <iframe src="https://blackhole.bigcrunch.io/TheWebServer/odo/dGJjXzYxMDc3NTJfNjE5NTUyNQ==?aspect=stretch" style="height:100%; width:100%; position: absolute; top:0px; left:0px"
    allow-fullscreen="true" frameborder="0"></iframe>
</div> -->

<h1><center>Nutritional Analytics</center></h1>
<div class="row">
  <div class="col-md-6" id='foodPercentChart'></div>
  <div class="col-md-6" id='weeklyChart'></div>
</div>

<br>
<br>
<center>
  <h3>Total Daily Calories: <%- Math.ceil(percentFood[3]) %> Cal</h3>
</center>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: <%- Math.ceil(((percentFood[3])/ dailyCal)*100) %>%" aria-valuenow="<%- Math.ceil(percentFood[3]) %>" aria-valuemin="0" aria-valuemax="<%= dailyCal %>"><%- Math.ceil(((percentFood[3])/ dailyCal)*100) %>%</div>
</div>
<!-- <h1><%- dailyCal %></h1>
<h2><%- Math.ceil(((percentFood[3])/ dailyCal)*100) %></h2> -->
<br>


