<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
        

    <div class="row rowHeight">

        <%- include('includes/left_panel.ejs') %>

        <div class="col-7 main_container"> <!-- MAIN -->
        
        <div class="main-content" id="main-content"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready( () => {
                $('#home_link').click( () => {
                    $('#main-content').html(`<%- include('home.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#home_link_container').addClass('active-left-link');                    
                });

                $('#friend_link').click( () => {
                    $('#main-content').html(`<%- include('name.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#friend_link_container').addClass('active-left-link');
                });

                $('#add_activity_link').click( () => {
                    $('#main-content').html(`<%- include('add-activity.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#activity_link_container').addClass('active-left-link');
                });

                $('#add_meal_link').click( () => {
                    $('#main-content').html(`<%- include('add-meal.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#meal_link_container').addClass('active-left-link');
                });

                $('#check_in_link').click( () => {
                    $('#main-content').html(`<%- include('check-in.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#checkin_link_container').addClass('active-left-link');
                });

                $('#restaurants_link').click( () => {
                    $('#main-content').html(`<%- include('restaurants.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#restaurants_link_container').addClass('active-left-link');
                });

                $('#mcgill_resources_link').click( () => {
                    $('#main-content').html(`<%- include('mcgill_resources.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#mcgill_link_container').addClass('active-left-link');
                });

                $('#health_canada_link').click( () => {
                    $('#main-content').html(`<%- include('health_canada.ejs') %>`);
                    $('.left-link-item-container').removeClass('active-left-link');
                    $('#health_link_container').addClass('active-left-link');
                });

                $('#chart_link').click( () => {
                    var data = [{
                    values: ["<%- percentFood[2] %>", "<%- percentFood[1] %>", "<%- percentFood[0] %>"] ,
                    labels: ['Carbohydrates', 'Lipids', 'Proteins'],
                    type: 'pie',
                    marker: {
                        // colors: ['#669900', '#00cc00', '#00ff00']
                        colors: ['#a3c2c2', '#758383', '#334d4d']

                    }
                    }];

                    var layout = {
                    height: 400,
                    width: 500,
                    legend: {x: 0, y: -5},
                    title:'Daily Macronutrient Chart'
                    };    
                               
                    
                    Plotly.newPlot('foodPercentChart', data, layout);
                });


                $('#chart_link2').click( () => {
                    var trace1 = {
                    x: ["MON", "TUE", "WED", "THUR", "FRI", "SAT", "SUN"],
                    y: [10, 15, 13, 17, 20, 21, 50],
                    type: 'scatter',
                    name: 'You',
                    marker: {
                        color: '#00cc00'
                    }
                    };

                    var trace2 = {
                    x: ["MON", "TUE", "WED", "THUR", "FRI", "SAT", "SUN"],
                    y: [16, 5, 11, 9, 21, 12, 13],
                    type: 'scatter',
                    name: 'Your Friends',
                    marker: {
                        color: '#334d4d'
                    }
                    };

                    var data = [trace1, trace2];
                    
                    var layout = {
                        width: 450,
                        height: 400,
                        showlegend: false,
                        title:'How You Compare to Your Friends'          
                    };

                    Plotly.newPlot('weeklyChart', data, layout);
                });

            });
        </script>                   
            
        </div>

        <%- include('includes/right_panel.ejs') %>

    </div>
      
<%- include('includes/end.ejs') %>