<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
        
      <div class="container">
        <div class="row">

          <div class="col-2 left-panel_container full-height"> <!-- LEFT PANEL -->
            <div class="left_links_container">
                <ul class="links">
                    <li class="left_link-item" id="home_link">Home</li>
                    <li class="left_link-item" id="add_activity_link">Add Activity</li>
                    <li class="left_link-item" id="add_meal_link">Add Meal</li>
                </ul>
            </div>
          </div>

          <div class="col-8 main_container"> <!-- MAIN -->
            
            <div class="main-content" id="main-content"></div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready( () => {
                    $('#home_link').click( () => {
                        $('#main-content').html(`<%- include('name.ejs') %>`);
                    });

                    $('#add_activity_link').click( () => {
                        $('#main-content').html(`<%- include('add-activity.ejs') %>`);
                    });

                    $('#add_meal_link').click( () => {
                        $('#main-content').html(`<%- include('add-meal.ejs') %>`);
                    });

                });
            </script>                         
              
          </div>

          <div class="col-2 right-panel_container"> <!-- LEFT PANEL -->
            Three of three columns
          </div>

        </div>
      </div>
      
<%- include('includes/end.ejs') %>